body {
    background: linear-gradient(#6547b6, #775bca);
    background-attachment: fixed;
    height: 100%;
    color: #9b7cf3;
    font-family: 'Source Sans 3', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5b3fa9;
}

#searchBar {
    display: flex;
    flex-direction: row-reverse;
    width: 30%;
}

.mr-sm-2 {
    opacity: 0.9;
    border-radius: 0;
    background-color: #f7f1ff;
}

.btn-secondary {
    background-color: #6653b8;
    border-radius: 0;
    color: #9887e3;
    border: none;
}

.btn-secondary:hover {
    background-color: #826fd5;
}

#headerText {
    display: flex;
    flex-direction: row;
    width: 60%;
    align-items: center;
    font-family: 'Source Sans 3', sans-serif;
}

.headerCity {
    background: -webkit-linear-gradient(#d881ee, #a675f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 265%;
    
}

.headerDate {
    padding-left: 2%;
    font-size: 210%;
    font-weight: bold;
    color: #6949c2;
    text-shadow: 1px 1px 3px #43347d;
}

.citiesContainer {
    white-space: nowrap;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: #8868e093;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 80%;
}

.citiesNav {
    font-size: 20px;
}

.citiesNav a {
    padding-right: 9%;
    text-overflow: ellipsis;
    text-decoration: none;
    font-family: 'Source Sans 3', sans-serif;
    color: #9c7cf3e5;
    text-shadow: 1px 1px 3px #644cabe5;
}

a:hover {
    color: #aa94e8;
    transition: 0.5s;
}

#placeholderDetails {
    color: #8170d3;
    margin-left: auto;
    margin-right: auto;
    text-shadow: none;
}

.cityDetails {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-shadow: 1px 1px 3px #6658a9;
    background-color: #8868e0a3;
    font-size: 25px;
    font-weight: bold;
    margin-top: 2%;
    padding: 3%;
    width: 80%;
    height: 60%;
}

#row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

#row2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 5%;
    width: 80%;
    font-size: 25px;
}

.fa-solid {
    color: #8766e2;
    padding-right: 15%;
}

#wind {
    display: flex;
}

#humidity {
    display: flex;
}

#clouds {
    display: flex;
}

#forecastContainer {
    display: flex;
    justify-content: space-around;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 2%;
    margin-bottom: 3%;
}

#widgetDate {
    color: #6244b5bf;
    font-weight: bold;
    font-size: 18px;
}

article {
    padding: 2%;
    border: 7px solid #6653b800;
    background-color: #8868e0a3;
    text-align: center;
}
