body {
    background-color: #6653b8;
    color: #8a77e0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(92, 62, 175);
}

#searchBar {
    display: flex;
    flex-direction: row-reverse;
    width: 30%;
}

.mr-sm-2 {
    opacity: 0.9;
    border-radius: 0;
    background-color: #f7f1ff;
}

.btn-secondary {
    background-color: #6653b8;
    border-radius: 0;
    color: #9887e3;
    border: none;
}

.btn-secondary:hover {
    background-color: #826fd5;
}

#headerText {
    display: flex;
    flex-direction: row;
    width: 60%;
    align-items: center;
    font-family: 'Source Sans 3', sans-serif;
}

.headerCity {
    background: -webkit-linear-gradient(#d881ee, #a675f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 265%;
}

.headerTemp {
    font-size: 230%;
    padding-left: 2%;
    color: #ebe4ff;
}

.citiesContainer {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: #7663c9;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
    max-height: 50%;
    width: 80%;
}

.citiesNav {
    display: inline;
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
    color:#9c86d7;
}



.cityDetails {
    margin: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7663c9; 
    font-size: 20px;
    margin-top: 2%;
    padding: 3%;
    width: 80%;
    height: 60%;
}

#forecastContainer {
    display: flex;
    justify-content: space-around;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-top: 2%;
}

#widgetDate {
    color: #a595ed;
    font-weight: bold;
    font-size: 18px;
}

article {
    padding: 2%;
    border: 7px solid #6653b8;
    background-color: #7663c9;
    color: #917ee4;
    text-align: center;
}
